<html lang="ko" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org">
<main layout:fragment="main">
    <div class="d-flex justify-content-center align-items-center flex-column p-2">
        <h2>로그인</h2>
        <form class="w-50" th:action="@{/members/login}" method="post" onsubmit="loginFormSubmit(this); return false;">
            <div class="mb-3">
                <label for="username" class="form-label">아이디</label>
                <input type="text" id="username" class="form-control" name="username">
            </div>
            <div class="mb-1">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" id="password" class="form-control" name="password">
            </div>
            <div class="d-flex justify-content-end mb-3">
                <a th:href="@{/}" class="text-muted">비밀번호를 잊어버리셨나요?</a>
            </div>

            <div class="d-flex">
                <a th:href="@{/members/join}" class="btn btn-outline-danger w-50 me-2">회원가입</a>
                <button type="submit" class="btn btn-outline-primary w-50">로그인</button>
            </div>
        </form>
    </div>

    <script>
        function loginFormSubmit(form) {
            const username = form.username.value.trim();
            if (username.length === 0) {
                alert('아이디는 필수 입력 항목입니다.')
                form.username.focus();
                return;
            }

            const password = form.password.value.trim();
            if (password.length === 0) {
                alert('비밀번호는 필수 입력 항목입니다.')
                form.password.focus();
                return;
            }

            form.submit();
        }
    </script>
</main>
</html>