<html lang="ko" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org">
<main layout:fragment="main">
    <div class="d-flex justify-content-center align-items-center flex-column p-2">
        <h2>비밀번호 변경</h2>
        <form class="w-50" th:action="@{/members/modify-password}" method="post" onsubmit="modifyFormSubmit(this); return false;">
            <div class="mb-3">
                <label for="newPassword" class="form-label">새 비밀번호</label>
                <input type="password" id="newPassword" class="form-control" name="newPassword">
            </div>
            <div class="mb-1">
                <label for="newPasswordConfirm" class="form-label">새 비밀번호 확인</label>
                <input type="password" id="newPasswordConfirm" class="form-control" name="newPasswordConfirm">
            </div>

            <button type="submit" class="btn btn-outline-primary">비밀번호 변경</button>
        </form>
    </div>

    <script>
        function modifyFormSubmit(form) {
            const newPassword = form.newPassword.value.trim();
            if (newPassword.length === 0) {
                alert('비밀번호는 필수 입력 항목입니다.')
                form.newPassword.focus();
                return;
            }

            const newPasswordConfirm = form.newPasswordConfirm.value.trim();
            if (newPasswordConfirm.length === 0) {
                alert('비밀번호는 필수 입력 항목입니다.')
                form.newPasswordConfirm.focus();
                return;
            }

            form.submit();
        }
    </script>
</main>
</html>