<html lang="ko" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org">
<main layout:fragment="main">

    <form th:action="@{/spotify/search}" method="get">
        <div class="mb-3">
            <label for="query">검색어</label>
            <input type="text" id="query" name="query">
        </div>

        <button type="submit">검색</button>
    </form>

    <script th:src="@{/js/toastr/success.js}"></script>
    <script th:inline="javascript" defer>
        const params = /*[[${param}]]*/ null;

        if (params.title && params.message) {
            successAlert(params.title, params.message);
        }
    </script>
</main>
</html>